.cabecalhoPrincipal-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cabecalhoPrincipal-nav {
	display: flex;
}

.conteudoPrincipal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.conteudoPrincipal-cursos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.conteudoPrincipal-cursos-link {
	width: 22%;
}

.videoSobre {
	width: 100%;
}

.videoSobre-container {
	display: flex;
	justify-content: space-evenly;
}
.videoSobre-video {
	flex-shrink: 5;
}

.videoSobre-sobre {
	display: flex;
	flex-direction: column;
	flex-grow: 0.5;
	text-align: center;
}
.videoSobre-sobre-list {
	flex-grow: 1;
}


.rodapePrincipal-navMap-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navMap-list-container {
	display: flex;
	flex-direction: column;
}

.rodapePrincipal-patrocinadores .container {
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	align-items: center;
}

.rodapePrincipal-contatoForm-fieldset {
	display: flex;
}

@media screen and (max-width: 768px) {
	
	.cabecalhoPrincipal-container {
		flex-direction: column;
		align-items: stretch;
		text-align: center;
	}
	.cabecalhoPrincipal-nav {
		flex-direction: column;	
	}

	.cabecalhoPrincipal-nav-link-app {
		order: -1;
	}
	.conteudoPrincipal-cursos {
		flex-direction: column;
	}

	.conteudoPrincipal-cursos-link {
		width: 100%
	}

	.videoSobre-container {
		flex-direction: column;
	}

	.videoSobre-button {
		align-self: center;
		width: 70%;
	}

	.rodapePrincipal-navMap {
		flex-direction: column;
	}

	.rodapePrincipal-navMap-list {
		flex-direction: column;
	}

	.rodapePrincipal-patrocinadores .container {
		flex-direction: column;
	}
	.rodapePrincipal-patrocinadores-list {
		justify-content: space-between;
	}
}